* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(/images/Background2.jpeg) no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.header {
    width: 95%;
    background-color: #201c1c;
    padding: 10px;
    display: flex;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-top: 1%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #3cb3c5;
    margin-left: 21px;
}

h2 {
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-left: 307px;
    margin-top: 35px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: -4px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-left: 23px;
    font-size: 19px;
}

.back-arrow {
    width: 55px;
    height: 55px;
    margin-left: 20px;
    cursor: pointer;
}

.project-title {
    font-size: 1.9em;
    font-weight: bold;
    color: #f3f0ed;
    flex-grow: 1;
    text-align: center;
    margin-right: 1315px;
}

.user-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border: white;
    height: 83px;
    border-radius: 40px;
    background: #343037;
    width: 23cm;
    padding: 36px;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 60px;
    background-color: #0000003b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    height: 100%;
    position: fixed;
}

    .sidebar .icon {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        cursor: pointer;
    }

.main-content {
    flex-grow: 1;
    background-color: #201c1c;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: 72px;
}

.left-content {
    flex: 1;
    margin-right: 20px;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-bar {
    background-color: #201c1c;
    margin-bottom: -5px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #201c1c;
    border-radius: 10px;
    color: white;
    background: #494852;
    font-size: 22px;
}

.search-button {
    background-color: black;
    color: white;
    border: none;
    width: 126px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 10px;
    height: 48px;
}

    .search-button:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.course-list {
    margin-top: 20px;
}

.user-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .user-row img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 10px;
    }

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    width: 99px;
    height: 37px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

#listStudentOptions option {
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#taskList {
    margin-top: 20px;
    /* Espacio superior */
}

.taskItem {
    border: 3px solid black;
    width: 19cm;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 20px;
    height: 103px;
}

.user-name {
    flex-grow: 1;
    font-size: 20px;
    color: #ffecec;
}
